/*==========================================================*/
                /* PROPIEDADES GLOBALES */
/*==========================================================*/

/* Fuente Instalada de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Reset CSS de Eric Meyer */
* {
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Especificación de la Familia de Fuentes - Color de Fondo */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffefe3;
}

/*==========================================================*/
                        /* CABECERA */
/*==========================================================*/

/* Barra de Navegación General */
#navbar {
    background-color: #754b3a;
}

#navbar a span {
    font-size: 23px;
}

#navbar .nav-item {
    font-size: 18px;
    padding: 8px 0px;
}

/* Menú de Navegación Principal */

/* Elementos Colapsables */
#menu .nav-item a {
    display: inline;
    padding: 8px 8px;
    border-radius: 7px;
}

#menu .nav-item .no-activo {
    /* color: #ded3cf; */
}

#menu .nav-item a:hover {
    background-color: white;
    color: black !important;
}

/* Elemento Colapsable y Desplegable */
#menu .dropdown-menu {
    background-color: #ffefe3;
    padding: 8px 8px;
}

#menu .dropdown-menu .dropdown-item {
    display: block;
    font-size: 16px;
}

#menu .dropdown-menu .dropdown-item:hover {
    background-color: #eb9a7c !important;
    color: white !important;
    font-weight: bold !important;
    text-shadow: 0px 1.5px 2px #ad715c;
}

/*==========================================================*/
                    /* MEDIA QUERIES */
/*==========================================================*/

/* Pantallas Extra-Pequeñas ( <576px ) */

/* Especificaciones del Colapsado de Información de Contacto ( ≤461px ) */
@media (max-width: 461px) {
    #info-contacto .telefono {
        padding-bottom: 4px !important;
    }

    #info-contacto .correo {
        padding-top: 4px !important;
    }
}

/* Pantallas Pequeñas ( ≥576px ) */
@media (max-width: 767px) {

    /* Especificaciones del Colapsado del Elemento Desplegable */
    .dropdown-menu {
        margin-top: 10px !important;
    }

    .dropdown-menu .dropdown-item {
        text-align: start !important;
    }
}